<!DOCTYPE html>
<html>
  <head>
    <link rel="icon" href="favicon.ico" type="image/x-icon" />
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Bienenido a <%= title %></h1>
    <p>¡El portal donde podrá crear sus propios juegos!</p>
  </body>
</html>
